.crdit_good_to_know_container {
  height: fit-content;
  padding: 20px 0px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

/* .crdit_good_to_know_wrap {
  max-height: 336px;
} */

.good_to_know_title {
  font-size: 28px;
  font-weight: 600;
  line-height: 32px;
  color: #000;
}

.good_to_know_chip {
  padding: 12px 20px;
  background-color: #f5f5f5;
  border-radius: 24px;
  height: 40px;
  white-space: nowrap;
  cursor: pointer;
  color: #000;
}

.good_to_know_chip:hover {
  border: 2px solid #f76935a8;
  padding: 10px 18px;
}
.good_to_know_chip_active {
  padding: 10px 18px;
  background-color: black;
  color: #fff;
  border: 2px solid #f76935a8;
}

.chip_list {
  max-width: 980px;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #171717;
}

@media screen and (max-width: 450px) {
  .crdit_good_to_know_container {
    gap: 20px;
  }
}
