.chip {
  padding: 12px 20px;
  background-color: #f5f5f5;
  border-radius: 24px;
  cursor: pointer;
  white-space: nowrap;
  color: #000;
}

.chip:hover {
  border: 2px solid #f76935a8;
  padding: 10px 18px;
}
.chip_active {
  padding: 10px 18px;
  background-color: black;
  color: #fff;
  border: 2px solid #f76935a8;
}

/* @media screen and (max-width: 450px) {
  .chips {
    width: 425px;
    overflow-x: auto;
  }
} */
