.elevated_button {
  border: none;
  background-color: #f76835;
  padding: 12px 20px;
  border-radius: 24px;
  color: #fff;
  cursor: pointer;
}

.elevated_button_wrapper {
  width: 172px;
}

@media screen and (max-width: 450px) {
  .elevated_button_wrapper {
    width: 88%;
    display: flex;
    justify-content: center;
  }
}
