.text_button {
  width: 129px;
  border: none;
  background-color: transparent;
  padding: 20px 12px;
  cursor: pointer;
  border: 1px solid black;
}


@media screen and (max-width: 450px) {
  .text_button_wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
  }
}
