.container {
  max-width: 980px;
  margin: auto;
}

@media screen and (max-width: 980px) {
  .container {
    max-width: 768px;
    padding: 0px 10px 0px 10px;
  }
}

@media screen and (max-width: 768px) {
    .container {
      max-width: 670px;
      padding: 0px 10px 0px 10px;
    }
  }