.credit_type_card {
  height: auto;
  border-radius: 32px;
  box-shadow: 0px 3px 12px 0px #00000014;
  display: flex;
  flex-direction: row;
  max-width: 980px;
  margin-bottom: 36px;
  /* align-items: center; */
}

.credit_info_action {
  margin-left: 40px;
  max-width: 566px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.cledit_baner_img {
  max-width: 414px;
  height: 340px;
  border-radius: 32px;
  display: flex;
  text-align: center;
  justify-content: center;
}
.credit_baner {
  max-width: 100%;
  height: 340px;
  display: flex;
  align-items: center;
  /* justify-content: center; */
  text-align: center;
}

@media screen and (max-width: 768px) {
  .credit_type_card {
    flex-direction: column-reverse;
    align-items: center;
    /* height: fit-content; */
    margin-bottom: 24px;
    padding: 30px 0px;
  }
  .cledit_baner_img {
    max-width: 414px;
    /* height: 340px; */
    border-radius: 32px;
  }
}
@media screen and (max-width: 450px) {
  .credit_type_card {
    flex-direction: column-reverse;
    padding: 20px 0px;
    /* height: 528px; */
  }
  .cledit_baner_img {
    max-width: 336px;
    height: 200px;
    border-radius: 32px;
  }
  .credit_baner {
    height: 200px;
  }
  .credit_info_action {
    width: 100%;
    margin: 0;
  }
  .credit_action {
    width: 100%;
    align-items: center;
  }
}
